.home-bg {
    position: relative;
    z-index: 1;
}

.home-bg .main-content {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
}
.home-bg .main-content img {
    width: 100%;
    height: auto;
}
.large-12 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-indicators {
    position: fixed;
    top: calc(100vh - 40px);
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators li {
    width: 150px;
    height: 30px;
    background: #000;
}

.carousel-inner .carousel-item.active {
    transition: all 0.3s;
    opacity: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    to {
        opacity: 0;
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}